body { 
     background: url('campus.jpg') no-repeat center center fixed;
     font-family:Arial, sans-serif;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.dialog-cover {
     position:fixed;
     top:-4px;
     left:-2px;
     width:100%;
     height:100%;
     background-color:#444444;
     opacity:0.6;
     z-index:90;
     display:none;
}
#page-content {
     position:absolute;
     width:840px;
     height:360px;
     top:50%;
     left:50%;
     margin-left:-420px;
     margin-top:-220px;
}
.input-panel, .description, .message{
     background-image:-webkit-gradient(linear, left top, left bottom,from(#ffffff),to(#ccc));
     background:-moz-linear-gradient(top,#ffffff, #ccc );
     border:1px solid #bbb;
     border-radius:5px;
     border: solid 1px #eee;
     position:absolute;
     zoom: 1;
	 filter: alpha(opacity=80);
	 opacity: 0.8;
}
.message {
    top:0px;
    left:536px; 
    height:120px;
    width:300px;
}
.info {
     top:0px;
     left:0px;
     width:500px;
     height:360px;
 }
.errorBalloon {
    background-image:-webkit-gradient(linear, left top, left bottom,from(#ff0000),to(#ff8888));
    background:-moz-linear-gradient(top,#ff0000, #ff8888 );
    border: solid 1px #ff0000;
    color: #fff;
    background-color: #ff8888;
    opacity: 1;
}

.successBalloon {
    background-image:-webkit-gradient(linear, left top, left bottom,from(#44cc44),to(#55ff55));
    background:-moz-linear-gradient(top,#44cc44, #55ff55 );
    border: solid 1px #00ff00;
    color: #fff;
    background-color: #44cc44;
    opacity: 1;
}
div.signup {
     top:150px;
     left:536px; 
     height:210px;
     width:300px;
 }
.inputwrap {
     position:absolute;
     left:12px;
     width:272px;
     height:20px;
 }
.text-input {
     height:20px;
     width:99%;
     border:1px solid #bbb;
     padding:4px;
     position:absolute;
     display:block;
     border-radius:3px;
     outline:none;
 }
.text-input:focus {
     box-shadow: 0 0 10px rgba(81, 203, 238, 1);
     border: 1px solid rgba(81, 203, 238, 1);
 }
.placeholder{
     position:absolute;
     top:5px;
     left:2px;
     font-size:12px;
     padding:4px;
     cursor:text;
     color:#999;
     -webkit-user-select:none;
     -moz-user-select:none;
     opacity: 0.6;
     -webkit-transition:opacity 0.5s;
     -moz-transition:opacity 0.5s;
}
.text-input:focus + .placeholder {
     opacity: 0;
}
button.submit{
     border-radius:3px;
     font-weight:bold;
     font-size:15px;
     color:white;
     cursor:pointer;
     background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(51, 188, 239)), to(rgb(1, 154, 210)));
     background:-moz-linear-gradient(top, rgb(51, 188, 239), rgb(1, 154, 210));
     border:1px solid rgb(5, 126, 208);
     float:right;
     position:relative;
}
button:hover {
     background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(0, 130, 200)), to(rgb(1, 154, 210)));
     background:-moz-linear-gradient(top, rgb(0, 130, 200), rgb(1, 154, 210));
} 
.prompt {
    top:12px;
}

.resultText {
    top:24px;
}

.suname {
     top:50px;
     width:266px;
}
.suemail {
     top:88px;
     width:266px;
}
.sutype{
     top:125px;
     width:266px;
}
.subtncontainer {
     top:165px;
}
button.signup-btn{
     right:0px;
     width:220px;
     height:29px;
     display:block;
     float:right;
}
.horizon-seperator{
     position:relative;
     left:-13px;
     width:300px;
}
.main-title-wrap {
    display: block;
    font-family: Arial, sans-serif;
    height: 40px;
    left: 40px;
    position: absolute;
    top: 20px;
    width: 272px;
}
.text-wrap {
    display: block;
    position: absolute;
    height: 120px;
    width: 430px;
    top: 80px;
    left: 40px;
}



