html, body {
    height: 100%;
}
body { 
     background: url('campus.jpg') no-repeat center center fixed;
     font-family:Arial, sans-serif;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.topfloat {
    float: left;
    width:100%;
    height:20%;
    margin-bottom:0;
}
.wrapper {
    min-height: 75%;
    height: auto !important;
    height: 75%;
    margin: 0 auto -2em;
    clear:both;
}
.page {
    margin-top:auto;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto;
    width: 840px;
    height:100%;
    clear:both;
    position:relative;
}
.pagecontent {
    clear: both;
    height: 370px;
}
.clear {
    clear: both;
}
.block {
    background-image:-webkit-gradient(linear, left top, left bottom,from(#ffffff),to(#ccc));
    background:-moz-linear-gradient(top,#ffffff, #ccc );
    background-color:white;
    border:1px solid #bbb;
    border-radius:5px;
    border: solid 1px #eee;
}
.description {
    position:absolute;
    top:0px;
    left:0px;
    width:420px;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:30px;
    height:320px;
}
.title-wrap {
    display: block;
    font-family: Arial, sans-serif;
    height: 40px;
    left: 40px;
    top: 20px;
    width: 272px;
}
.text-wrap {
    display: block;
}
.message {
    height:100px;
    width:270px;
    padding:15px;
    position:absolute;
    right:0px;
    top:0px;
}
.errorBalloon {
    background-image:-webkit-gradient(linear, left top, left bottom,from(#ff0000),to(#ff8888));
    background:-moz-linear-gradient(top,#ff0000, #ff8888 );
    border: solid 1px #ff0000;
    color: #fff;
    background-color: #ff8888;
    opacity: 1;
}
.successBalloon {
    background-image:-webkit-gradient(linear, left top, left bottom,from(#44cc44),to(#55ff55));
    background:-moz-linear-gradient(top,#44cc44, #55ff55 );
    border: solid 1px #00ff00;
    color: #fff;
    background-color: #44cc44;
    opacity: 1;
}
.loader {
    background-image:-webkit-gradient(linear, left top, left bottom,from(#ffffff),to(#ccc));
    background:-moz-linear-gradient(top,#ffffff, #ccc );
    border: solid 1px #fff;
    color: #000;
    background-color: #fff;
    opacity: 0.9;
    text-align:center;
}
.form {
    height:180px;
    width:270px;
    border:1px solid #bbb;
    border-radius:5px;
    border: solid 1px #eee;
    padding:15px;
    position:absolute;
    top:160px;
    right:0px;
}
.prompt {
    top:12px;
}
.horizon-seperator{
     position:relative;
     left:-13px;
     width:295px;
}
.inputwrap {
     position:absolute;
     left:14px;
     width:274px;
     height:20px;
}
.text-input {
     height:20px;
     width:99%;
     border:1px solid #bbb;
     padding:4px;
     position:absolute;
     display:block;
     border-radius:3px;
     outline:none;
 }
.text-input:focus {
     box-shadow: 0 0 10px rgba(81, 203, 238, 1);
     border: 1px solid rgba(81, 203, 238, 1);
}
.text-input:focus + .placeholder {
     opacity: 0;
}
.placeholder{
     position:absolute;
     top:5px;
     left:2px;
     font-size:12px;
     padding:4px;
     cursor:text;
     color:#999;
     -webkit-user-select:none;
     -moz-user-select:none;
     opacity: 0.6;
     -webkit-transition:opacity 0.5s;
     -moz-transition:opacity 0.5s;
}
.suname {
     top:50px;
     width:266px;
}
.suemail {
     top:88px;
     width:266px;
}
.sutype{
     top:125px;
     width:266px;
}
.subtncontainer {
     top:165px;
}
button.signup-btn{
     right:0px;
     width:220px;
     height:29px;
     display:block;
     float:right;
}
button.submit{
     border-radius:3px;
     font-weight:bold;
     font-size:15px;
     color:white;
     cursor:pointer;
     background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(51, 188, 239)), to(rgb(1, 154, 210)));
     background:-moz-linear-gradient(top, rgb(51, 188, 239), rgb(1, 154, 210));
     background-color:rgb(25,160,220);
     border:1px solid rgb(5, 126, 208);
     float:right;
     position:relative;
}
button:hover {
     background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(0, 130, 200)), to(rgb(1, 154, 210)));
     background:-moz-linear-gradient(top, rgb(0, 130, 200), rgb(1, 154, 210));
}
.push {
   height: 3em;
   clear: both;
}
.footer {
    display: block;
    width:28em;
    height: 1.3em;
    font-size: 10px;
    color: #222;
    text-align: center;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.25em;
}
.footer a {
    color: #666;
}